MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net
SECRET_KEY=ganti-dengan-kunci-rahasia-anda
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
